@import '../../app.module.scss';

.layer6 {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url('../../assets/blob3.svg');
    background-size: 94.86vw auto;
    background-repeat: no-repeat;
    background-position: -913% 53.5%;
    padding: 110px 0;

    @media (max-width: $laptop-breakpoint){
        background-size: 114.86vw auto;
        background-position: 430% 53.5%;
        padding: 210px 0;
    }
    @media (max-width: $small-laptop-breakpoint){
        background-size: 134.86vw auto;
        background-position: 230% 53.5%;
        padding: 110px 0;
    }
    @media (max-width: $tablet-breakpoint){
        background-size: 304.86vw auto;
        background-position: 110% 53.5%;
        padding: 110px 0;
    }
    @media (max-width: $mobile-breakpoint){
        background-size: 304.86vw auto;
        padding: 20px 0 100px 0;
    }

    .digital-name {
        position: absolute;
        left: 50px;
        top: -50px;
        width: 100%;
        max-width: 12.76vw;
        min-height: 48.34vw;
        background-image: url('../../assets/digital-name.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .white-box6 {
        position: relative;
        display: flex;
        align-items: stretch;
        margin: auto auto;
        width: 100%;
        max-width: 71.04vw;
        min-height: 42.08vw;
        border-radius: 34px;
        box-shadow: 0px 0px 78px #1D1D1D1A;
        background-color: $white;
        background-image: url('../../assets/blob4.svg'), url('../../assets/team.jpg');
        background-size: 85.15vw auto, 65.93vw auto;
        background-repeat: no-repeat;
        background-position: 374% 50%, 250% 50%;
        //animation: .5s ease slide-animation;

        @media (max-width: $laptop-breakpoint){
            max-width: 75.04vw;
            background-size: 88.15vw auto, 88.93vw auto;
            background-position: 400% 50%, -10% 50%;
        }
        @media (max-width: $small-laptop-breakpoint){
            max-width: 85vw;
            background-size: 103.22vw auto, 96.93vw auto;
            background-position: 310% 50%, -100% 50%;
        }
        @media (max-width: $tablet-breakpoint){
            max-width: 95vw;
            background-size: 0vw auto, 235% auto;
            background-position: 0% 0%, 40% 50%;
            padding-top: 30px;
        }
        @media (max-width: $mobile-breakpoint){
            max-width: 95vw;
            background-size: 0vw auto, 320% auto;
            background-position: 0% 0%, 40% 50%;
            padding-top: 30px;
        }
        @media (max-width: $small-mobile-breakpoint){
            max-width: 95vw;
            background-size: 0vw auto, 360% auto;
            background-position: 0% 0%, 40% 50%;
            padding-top: 30px;
        }

        .success-container-text {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            @media (max-width: $tablet-breakpoint){
                justify-content: center;
                align-items: center;
            }

            .success-left {
                width: 30%;
                display: flex;
                flex-direction: column;
                padding: 3.49vw 2.79vw 4.49vw 3.19vw;

                @media (max-width: $tablet-breakpoint){
                    width: 90%;
                    padding: 5.49vw 4.79vw 6.49vw 5.19vw;
                    background-color: #ffffff;
                    border-radius: 30px;
                }

                .content {
                    .h2-success {
                        margin-bottom: 10px;
                        font-weight: 600;
                    }

                    .p-step {
                        margin-top: 24px;
                        margin-bottom: 10px;
                        .p-strong {
                            font-weight: 600;
                        }
                    }
                    
                    
                    .copy-testimonial {
                        width: 100%;
                        min-width: 170px;
                        max-width: 170px;
                        margin-bottom: 10px;
                        padding: 10px 10px 10px 60px;
                        background: #f1f1f1;
                        background-image: url('../../assets/copy.svg');
                        background-size: 20px auto;
                        background-repeat: no-repeat;
                        background-position: 10% 50%;
                        border-radius: 99px;
                        border: 1px solid $white;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        color: $black;
                        cursor: pointer;
                        transition: all ease .3s;

                        &:hover {
                            border: 1px solid #bfbfbf;
                        }

                        @media (max-width: $tablet-breakpoint){
                            background-size: 25px auto;
                            padding: 10px 10px 10px 60px;
                        }
                    }
                    
                }

                .social-media-container {
                    .p-step {
                        margin-top: 24px;
                        margin-bottom: 10px;
                        .p-strong {
                            font-weight: 600;
                        }
                    }

                    .social-media-link {
                        width: 100%;
                        min-width: 170px;
                        max-width: 230px;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        padding: 10px;
                        background: #f1f1f1;
                        border-radius: 99px;
                        border: 1px solid $white;
                        color: $black;
                        text-decoration: none;
                        cursor: pointer;
                        transition: all ease .3s;

                        &:hover {
                            border: 1px solid #bfbfbf;
                        }

                        .sm-logo-gg {
                            margin-right: 15px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .glassdoor-img {
                                width: 100%;
                                max-width: 32px;
                                margin-left: 10px;
                            }
                        }
                        .p-share {
                            margin-top: 0px;
                        }
                    }
                }
            }
            .success-right {
                width: 70%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                padding: 3.23vw 7.5vw;

                @media (max-width: $tablet-breakpoint){
                    width: 100%;
                }

                .logo6 {
                    width: 100%;
                    max-width: 11.35vw;
                    min-height: 5.15vw;
                    background-image: url('../../assets/dr_logo.png');
                    background-size: 11.35vw auto;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;

                    @media (max-width: $tablet-breakpoint){
                        max-width: 20.35vw;
                        min-height: 14.15vw;
                        background-size: 20.35vw auto;
                    }
                    @media (max-width: $mobile-breakpoint){
                        max-width: 30.35vw;
                        min-height: 24.15vw;
                        background-size: 30.35vw auto;
                    }
                }
        
                .h2-white {
                    font-size: 1.52vw;
                    color: $white;
                    margin-bottom: 20px;

                    @media (max-width: $tablet-breakpoint){
                        font-size: 3.52vw;
                    }
                    @media (max-width: $mobile-breakpoint){
                        font-size: 5.52vw;
                        text-align: center;
                    }
                }
            }
        }
        
    }
}

@keyframes slide-animation {
    from {
        opacity: 80%;
        transform: translateX(500px);
    }
    to {
        opacity: 100%;
        transform: translateX(0px);
    }
}

.MuiInput-underline:before {
    left: 0;
    right: 0;
    bottom: 0;
    content: "\00a0";
    position: absolute;
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: none !important;
    pointer-events: none;
}

.MuiInput-underline:after {
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    position: absolute;
    transform: scaleX(0);
    transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    border-bottom: none !important;
    pointer-events: none;
}

.MuiInputLabel-formControl {
    top: 0px !important;
    left: 15px !important;
    position: absolute;
    transform: translate(0, 24px) scale(1);
}

.MuiInputLabel-shrink {
    transform: translate(0, 10px) scale(0.75) !important;
}

.MuiFormLabel-root.Mui-focused {
    color: $blueDark !important;
}

