@import '../../app.module.scss';

.layer2 {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url('../../assets/blob2.svg');
    background-size: 94.86vw auto;
    background-repeat: no-repeat;
    background-position: -868% 52.5%;
    padding: 110px 0;

    @media (max-width: $laptop-breakpoint){
        background-size: 164.86vw auto;
        background-position: 154% 49%;
        padding: 210px 0;
    }
    @media (max-width: $small-laptop-breakpoint){
        background-size: 184.86vw auto;
        background-position: 144% 54.5%;
    }
    @media (max-width: $tablet-breakpoint){
        background-size: 304.86vw auto;
        background-position: 110% 53.5%;
        padding: 100px 0 120px 0;
    }
    @media (max-width: $mobile-breakpoint){
        background-size: 338.86vw auto;
        padding: 20px 0 100px 0;
    }
    @media (max-width: $small-mobile-breakpoint){
        background-size: 438.86vw auto;
        background-position: 105% 53.5%;
    }

    .digital-name {
        position: absolute;
        left: 50px;
        top: -50px;
        width: 100%;
        max-width: 12.76vw;
        min-height: 48.34vw;
        background-image: url('../../assets/digital-name.png');
        background-repeat: no-repeat;
        background-size: cover;

        @media (max-width: $small-laptop-breakpoint){
            left: 10px;
            top: 20px;
            width: 100%;
            max-width: 22.76vw;
            min-height: 48.34vw;
        }
    }

    .white-box {
        position: relative;
        margin: auto auto;
        width: 100%;
        max-width: 71.04vw;
        min-height: 42.08vw;
        padding: 3.23vw 7.5vw;
        border-radius: 34px;
        box-shadow: 0px 0px 78px #1D1D1D1A;
        background-color: $white;
        background-image: url('../../assets/image-form2.png');
        background-size: 29.15vw auto;
        background-repeat: no-repeat;
        background-position: 0% 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        //animation: .5s ease slide-animation;

        @media (max-width: $laptop-breakpoint){
            max-width: 75.04vw;
            background-size: 54.35vw auto;
            background-position: -60% 50%;
            padding: 3.23vw 4.5vw;
        }
        @media (max-width: $small-laptop-breakpoint){
            max-width: 85vw;
            background-size: 60.35vw auto;
            background-position: -70% 80%;
            padding: 3.23vw 2.5vw;
        }
        @media (max-width: $tablet-breakpoint){
            max-width: 95vw;
            min-height: 182.08vw;
            padding: 6.23vw 7.5vw;
            background-size: 140.35vw auto;
            background-position: 5% 40%;
        }
        @media (max-width: $mobile-breakpoint){
            max-width: 95vw;
            min-height: 202.08vw;
            padding: 2.23vw 2.5vw;
            background-size: 180vw auto;
            background-position: 10% 100%;
            align-items: flex-end;
        }

        .logo {
            position: absolute;
            bottom: 35px;
            left: 100px;
            width: 100%;
            max-width: 11.35vw;
            min-height: 5.15vw;
            background-image: url('../../assets/dr_logo.png');
            background-size: 11.35vw auto;
            background-repeat: no-repeat;
            background-position: 50% 50%;

            @media (max-width: $small-laptop-breakpoint){
                left: 70px;
            }
            @media (max-width: $tablet-breakpoint){
                bottom: -145px;
                left: 30px;
                max-width: 26.35vw;
                min-height: 20.15vw;
                background-size: 26.35vw auto;
            }
            @media (max-width: $mobile-breakpoint){
                bottom: -105px;
                left: 30px;
                max-width: 36.35vw;
                min-height: 30.15vw;
                background-size: 36.35vw auto;
                border-radius: 10px;
                padding: 10px;
            }
        }

        .form-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            .box {
                width: 100%;
                max-width: 32vw;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                flex-wrap: wrap;
                align-items: flex-start;
                border: 1px solid #F2F2F2;
                border-radius: 15px;
                padding: 1.87vw;

                @media (max-width: $laptop-breakpoint){
                    max-width: 39vw;
                }
                @media (max-width: $small-laptop-breakpoint){
                    max-width: 45vw;
                }
                @media (max-width: $tablet-breakpoint){
                    max-width: 82vw;
                }
                @media (max-width: $mobile-breakpoint){
                    max-width: 92vw;
                    margin-bottom: 30px;
                }
                @media (max-width: $small-mobile-breakpoint){
                    //max-width: 32vw;
                }

                .p {
                    margin-bottom: 1.56vw;
                }

                .checkbox-wrapper {
                    width: 48%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    margin-bottom: 10px;

                    @media (max-width: $laptop-breakpoint){
                        width: 100%;
                        margin-bottom: 5px;
                    }

                    @media (max-width: $mobile-breakpoint){
                        width: 100%;
                    }
                }
            }

            .buttons-container {
                width: 100% !important;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }

            .dots-wrapper {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-top: 1.35vw;

                .dot {
                    border-radius: 50%;
                    width: 16px;
                    height: 16px;
                    margin: 3px;
                    background-color: transparent;
                    border: 1px solid #BEBEBE;
                }

                .active {
                    background-color: #BFBFBF;
                }
                
            }

            @media (max-width: $laptop-breakpoint){
                width: 50%;
            }

            @media (max-width: $tablet-breakpoint){
                width: 100%;
                background-color: #ffffff;
                border-radius: 30px;
                padding: 25px;
                max-height: 195vw;
                color: $black;
            }

            @media (max-width: $mobile-breakpoint){
                width: 100%;
                background-color: $white;
                border-radius: 30px;
                padding: 20px;
                max-height: 280vw;
                color: $black;
            }
            @media (max-width: $small-mobile-breakpoint){
                min-height: 310vw;
            }
        }
    }
}

.MuiInput-underline:before {
    left: 0;
    right: 0;
    bottom: 0;
    content: "\00a0";
    position: absolute;
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: none !important;
    pointer-events: none;
}

.MuiInput-underline:after {
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    position: absolute;
    transform: scaleX(0);
    transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    border-bottom: none !important;
    pointer-events: none;
}

.MuiInputLabel-formControl {
    top: 0px !important;
    left: 15px !important;
    position: absolute;
    transform: translate(0, 24px) scale(1);
}

.MuiInputLabel-shrink {
    transform: translate(0, 10px) scale(0.75) !important;
    @media (max-width: $laptop-breakpoint){
        top: 50px !important;
        left: 15px !important;
    }
}

.MuiFormLabel-root.Mui-focused {
    color: $blueDark !important;
}